body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5e6f9f4c2db929125d4c6612/1608154417418-EX4BXU6ZB86LVUBJI9LJ/vargas-65.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}