body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.btn {
  margin: 0;
  border: 0;
}

.home {
  position: relative;
}

/* 
    home nav bar
*/
.nav {
  height: 100px;
  min-width: 100%;
  margin-top: 25px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.nav__menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
a {
  height: 100%;
}

.nav__btn {
  align-items: center;
  background-color: rgba(129, 172, 168, 0.616);
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  width: 200px;
  height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: rgb(77, 156, 148);
  color: #ffffff;
}

.nav__btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

;

:nth-child(1) {
  margin-left: 20px;
}


/* 
    hero - video
*/
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 
    about - text
*/
.about {
  text-align: justify;
  font-size: 17px;
}

/* 
    donations
*/
.donations {
  text-align: justify;
  font-size: 17px;
}

.donations__button {
  font-size: 20px;
}

.btn {
  color: #fff;
  background-color: #dcb55d;
  border-radius: 0px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #fff;
  background-color: rgb(168, 78, 50);
}

/* 
    live - counter
*/
.info__bubbles {
  display: flex;
  justify-content: space-between;
}

.info__bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__bubble>*+* {
  margin-top: 10px;
}

.info__blob {
  width: 425px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(129, 172, 168);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

.info__img {
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

button {
  margin: 20px;
}

/* 
    hero - image
*/
.hero {
  position: relative;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*
  login/signup
*/
.box {
  position: relative;
  background: rgba(61, 85, 82, 0.616);
  max-width: 300px;
  margin: auto;
  padding: 8px 15px 44px 15px;
  text-align: center;
  z-index: 1;
}

.box button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(129, 172, 168);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 17px;
}

.box button:hover,
.box button:active,
.box button:focus {
  background: rgb(77, 156, 148);
}

/*
  login page
*/
.login-form {
  position: relative;
  background: rgba(61, 85, 82, 0.616);
  max-width: 300px;
  margin: auto;
  padding: 54px 15px 44px 15px;
  text-align: center;
  z-index: 1;
}



.login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}

.login-form button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(129, 172, 168);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 17px;
}

.login-form button:hover,
.login-form button:active,
.login-form button:focus {
  background: rgb(77, 156, 148);
}

/*
  signup page
*/
.signup-form {
  position: relative;
  background: rgba(61, 85, 82, 0.616);
  max-width: 300px;
  margin: auto;
  padding: 54px 15px 44px 15px;
  text-align: center;
  z-index: 1;
}

.signup-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}

.signup-form button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(129, 172, 168);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 17px;
}

.signup-form button:hover,
.signup-form button:active,
.signup-form button:focus {
  background: rgb(77, 156, 148);
}


.admin-page {
  display: flex;
  flex-direction: column;
}

.admin-container {
  flex-grow: 1;
  padding-top: 70px;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.infoblock {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid rgb(77, 156, 148);
  border-radius: 5px;
  margin: auto;
}

.input-group-text {
  width: 110px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.input-section {
  margin-bottom: 10px;
}


/* userdata page 
*/

.user-data-background {

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  z-index: -1;
}

.user-data {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.user-data-group-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Left side */
.user-data-page-left {
  min-height: 550px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 5%;
  top: 20%;
  background: rgba(61, 85, 82, 0.616);
  padding: 32px;
  max-width: 300px;
  z-index: 1;
}

/* Right side */
.user-data-page-right {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 5%;
  top: 20%;
  background: rgba(61, 85, 82, 0.616);
  max-width: 600px;
  max-height: 600px;
  padding: 32px;
  z-index: 1;
}

/* Shared styles for user data items */
.user-total-impact-data,
.insert-data-container {
  width: 100%;
  outline: 0;
  background: #80aca8;
  margin: 0 auto 25px auto;
  padding: 25px;
  box-sizing: border-box;
  font-size: 17px;
  color: #FFFFFF;
}

.counter-submit-button,
.counter_button {
  background-color: rgb(77, 156, 148);
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 17px;
  width: 260px;
  height: auto;
  overflow: hidden;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  position: relative;
}


.time-counter-header {
  background-color: rgb(77, 156, 148);
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin: 0;
}

.time-counter-cta {
  margin: 48px 0 16px 0;
}

.user-level {
  width: 100%;
  background-color: rgb(77, 156, 148);
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.user-level p {
  margin-bottom: 0;
}

.user-impact {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 32px;
}

.user-data-group {}

/* buttons */

.user-level-button {
  border: 1px solid rgb(77, 156, 148);
  background-color: rgba(77, 156, 148, 0.158);
  box-sizing: border-box;
  color: #FFFFFF;
  justify-content: center;
  font-size: 17PX;
}

.user-level-button:hover,
.user-level-button:active {
  background-color: rgb(77, 156, 148);
}

.counter-submit-button {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #dcb55d;
  margin: 8px;
  padding: 8px;
  width: 200px;
  height: 40px;
  font-size: smaller;
  align-items: right;
  box-sizing: border-box;
}

.user-impact-data {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.logout-button {
  background-color: #dcb55d;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  font-size: smaller;
  align-items: right;
  margin: 0;
}

.logout-button:hover,
.logout-button:active {
  background-color: rgb(168, 78, 50);
}

.level {
  margin-top: 3px;
  padding-bottom: 0;
}

/* header text styling 
*/
.total,
.average,
.event-day,
.event-time,
.event-location,
.event-meeting-point {
  color: #FFFFFF;
}

.sandsmile,
.impact,
.tracker {
  color: #dcb55d;
  text-shadow:
    -0.5px -0.5px 0 #a84e32,
    0.5px 0.5px 0 #a84e32,
    -0.5px 0.5px 0 #a84e32,
    0.5px 0.5px 0 #a84e32;
}

/* icons 
*/
.fa-sharp {
  color: #81aca8;
}

/* time counter 
*/

.typing-animation span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 6s steps(80, end) forwards;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 2px #a84e32;
  opacity: 0.7;
  font-size: 14.5px;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.time-counter-container {
  width: 100%;
  padding: 0;
  justify-content: center;
}

.digit {
  background-color: #f2f2f2;
  border-radius: 15%;
  max-width: fit-content;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-align: center;
  text-decoration: dotted;
  padding: 16px;
  margin: 0 4px 0 4px;
  display: flex;
  justify-content: center;
}

.counter-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  margin: 48px 0 32px;
}

.counter-body .digit {
  background-color: rgba(129, 172, 168, 0.616);
  padding: 18px 18px;
  position: relative;
  border: 2px solid rgb(77, 156, 148);
}

.counter-button {
  margin: 0;
  border: 0;
}

.form-floating label {
  padding: 0;
}

.form-floating input {
  float: right;


}

/* 
    insert data
*/

.insert-data-container {
  background-color: rgba(129, 172, 168, 0.616);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dcb55d;
  border-radius: 5px;
}

.insert-location-liters-container {
  margin-top: 10px;
  align-items: center;
}

.insert-data-title,
.inser-data-text {
  border: 0;
  font-size: 12px;
  max-width: fit-content;
  margin-top: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
}

.calendar-dropdown {
  text-transform: uppercase;
  outline: 0;
  background: rgb(129, 172, 168);
  width: 60%;
  border: 0;
  margin: 0 0 8px;
  padding: 8px;
  color: #FFFFFF;
  font-size: 8px;
  text-align: center;
}

.dropdown-menu input[type="datetime-local"] {
  border-radius: 25px;
  margin-top: 10px;
  background: rgb(129, 172, 168);
  border: 0.3px solid #a84e32;
  margin: 0 10px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 8px;
}

.user-data-page-input {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.form-floating input {
  width: 75%;
}

.user-location {
  width: 100%;
  background: rgb(129, 172, 168);
  color: #FFFFFF;
  margin-bottom: 16px;
  border-radius: 0;
}

.user-location-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-location-group button {
  width: fit-content;
}

/* event and checkbox 
*/

.EventCard {
  background-color: rgb(77, 156, 148);
  padding: 20px;
  margin: 20px auto;
  width: 600px;
  color: #FFFFFF;
  border: 7px solid rgba(129, 172, 168, 0.616);
}

.EventCard i {
  color: #dcb55d;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #dcb55d;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
}

.checkbox-container input[type="checkbox"]::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #dcb55d;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input[type="checkbox"]:checked::after {
  display: block;
}

.label-text {
  margin-right: 10px;
  color: #dcb55d;
  font-size: 20px;
}

.clicks-count {
  margin: 0;
  color: #FFFFFF;
  font-size: 12px;
}


/*
  donations page
*/


.donate-box {
  position: relative;
  background: #b99d23a3;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

  p:nth-of-type(2) {
    font-size: 10px;
  }
}

.donate-box,
h5 {
  color: #FFFFFF;
}

.donate-box input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}

.donate-box button {
  text-transform: uppercase;
  outline: 0;
  background: #dcb55d;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 17px;
}

.donate-box button:hover,
.donate-box button:active,
.donate-box button:focus {
  background: rgb(168, 78, 50);
}

.ty-box {
  position: relative;
  background: #b99d2391;
  width: 1050px;
  margin: 0 auto 0px;
  padding: 20px 30px 10px 30px;
  color: #FFFFFF;
  font-size: 17px;
  text-align: center;
  z-index: 1;

  .ty-box .p {
    text-align: justify;
  }
}